@use '../util/index' as util;

.container__user {
    transition: all 0.25s ease-in;
    position: relative;


    .user__profile {
        display: grid;
        padding: 1rem 1.5rem;
        grid-template-columns: 2rem auto 2rem;
        grid-template-rows: auto auto;
        column-gap: 1rem;

        .profile__img {
            max-width: 100%;
            height: auto;
            grid-row: 1/3;
            border-radius: 50%;
        }

        .profile__title {
            color: util.$vdgb;
        }

        .profile__title,
        .profile__date {
            font-size: util.rem(11);
        }

        .profile__share {
            grid-area: 1/3/3/4;
            background-color: util.$lgb;
            display: grid;
            place-content: center;
            min-height: 2rem;
            border-radius: 50%;
            border: none;
        }
    }


    .user__social {
        display: grid;
        padding: 1rem 1.5rem;
        grid-template-columns: max-content auto 2rem;
        column-gap: 1rem;


        .social__title {
            font-size: util.rem(13);
            font-weight: 500;
            color: util.$gb;
            letter-spacing: .3rem;
            display: flex;
            align-items: center;
        }

        .social__icon {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            .logo__id {
                display: block;
            }
        }

        .social__share {
            background-color: #6E8098;
            display: grid;
            min-height: 2rem;
            place-content: center;
            border-radius: 50%;
            border: none;
        }
    }

    .profileInactive,
    .socialInactive {
        display: none;
    }


    @include util.breakpoint-min(Mobile) {
        .profileInactive {
            display: grid;
        }

        .user__social {
            z-index: 1;
            position: absolute;
            top: -2.5rem;
            right: -3.9rem;
            grid-template-columns: max-content auto;
            border-radius: .8rem;
            padding: .8rem 1.5rem;

            .social__share {
                display: none;
            }
        }

        .user__social::before {
            content: "";
            background-color: util.$vdgb;
            clip-path: polygon(0 0, 100% 0, 50% 60%);
            width: 1rem;
            height: 1rem;
            position: absolute;
            bottom: -1rem;
            left: 50%;
        }
    }

    .share {
        background-color: util.$lgb;
        background-image: url(../../images/icon-share.svg);
        background-repeat: no-repeat;
        background-position: center;
        color: transparent;
    }

    .share:hover,
    .share:focus,
    .share:active {
        background-color: #6E8098;
        background-image: url(../../images/active-share.svg);
    }

    .btnActive {
        background-image: url(../../images/active-share.svg);
    }
}

.bgActive {
    background-color: util.$vdgb;
}